<!DOCTYPE html>
<html>
    <%= render 'layouts/head' %>
    <%= render 'shared/navbar' %>
  <body>
    <%= render 'shared/header' %>
    <%= tag.main class: "container" do %>
      <%= yield %>
    <% end %>
  </body>
</html>
 
